<!DOCTYPE html>
<html lang="pt-BR" style="margin: 0;padding: 0;background-color:#ffffff;">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>

<body style="margin: 0;padding: 0;font-family: 'Lato', Arial, Helvetica, sans-serif;">
    
    <table style="width: 600px; margin-left: auto; margin-right: auto;border-spacing: 0px;" border="0" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td>
                    <img src="https://hubcoapp-images.s3-sa-east-1.amazonaws.com/pb/emails/partners/need_more_informations/header.jpg" style="width: 600px; height: 272px; display: block;outline: 0; border: 0;">
                </td>
            </tr>
            <tr>
                <td style="padding: 25px 65px 50px 85px;">
                    
                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Olá!
                    </p>

                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Recebemos seu cadastro para participar do nosso programa de fidelidade – “Obra Fácil Mais”.
                    </p>

                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        O Programa é destinado aos profissionais da área de arquitetura, decoração e designer de interiores.
                    </p>

                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Me desculpe, ainda não foi possível fazer a aprovação do seu cadastro por não termos encontrado sua certificação em uma destas áreas. Se possível, nos envie esta informação ou algum site ou instagram profissional, para darmos andamento na aprovação.
                    </p>
                    
                    <p style="font-family: 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 16px;line-height: 1.2;color: #000000;">
                        Dúvidas, entre em contato <strong>11 3031-6891</strong>, com Adriana!
                    </p>
                    
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://hubcoapp-images.s3-sa-east-1.amazonaws.com/pb/emails/partners/need_more_informations/footer.jpg" style="width: 600px; height: 165px; display: block;outline: 0; border: 0;">
                </td>
            </tr>
        </tbody>
        
    </table>
    
</body>
</html>